.add-options-error {
  color: $off-purple;
  font-style: italic;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}

.add-options-form {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-options-form__input {
  background: $dark-blue;
  border: none;
  border-bottom: .3rem solid darken($color: $dark-blue, $amount: 10%);
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  // margin-right: $s-size;
  color: whitesmoke;
  padding: $s-size;
}

// media queries
@media (min-width: $desktop-breakpoint) {
  .add-options-form {
    flex-direction: row;
  }

  .add-options-form__input {
    margin: 0 $s-size 0 0;
  }
}
